### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

## Throughout the notebook, I have left the templated answer in place and added sections for my code and answerset display

In [169]:
# Dependencies and Setup
import pandas as pd

# File to Load 
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load, encoding = "utf-8")

In [170]:
purchase_data.shape

(780, 7)

In [171]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [172]:
#count the unique number of starter players
purchase_data["SN"].count()

780

In [173]:
# 780 is not the right answer, so there must be duplicate entries on the player. 
# create a unique list of players
total_players = len(purchase_data["SN"].unique())
#add the unique list of players to a dataframe for display output purposes.
total_players_df = pd.DataFrame({"Total Players": [total_players]}) 
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [174]:
#calculate the number of unique items in the dataset
unique_items = len(purchase_data["Item ID"].unique())
#calculate the average price of all items
average_price = purchase_data["Price"].mean()
#calculate the number of purchases
num_of_purchases = purchase_data["Purchase ID"].count()
#calculate the total revenue
total_rev = purchase_data["Price"].sum()
#add the calculations to a dataframe

analysis_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                            "Average Price": [average_price],
                            "Number of Purchases": [num_of_purchases],
                            "Total Revenue": [total_rev]})
#format the display of financial data with decimals and $
analysis_df["Average Price"] = analysis_df["Average Price"].map("${:.2f}".format)
analysis_df["Total Revenue"] = analysis_df["Total Revenue"].map("${:,.2f}".format)
#display the final answer
analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [217]:
#list the gender values in the dataset
purchase_data["Gender"].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [218]:
#there are 3 genders and the total SN contain duplicates so we will need to compute on unique values of SN
#count # of males
male_count = purchase_data.loc[purchase_data["Gender"] == "Male",:]
male_count_unique = len(male_count["SN"].unique())
#print(male_count_unique)   
#print(total_players)
male_percent = (male_count_unique/total_players)*100
print(male_percent)

84.02777777777779

In [219]:
#count # of females
female_count = purchase_data.loc[purchase_data["Gender"] == "Female",:]
female_count_unique = len(female_count["SN"].unique())
print(female_count_unique) 
female_percent = (female_count_unique/total_players)*100
print(female_percent)

#count # of non-disclosed/other
other_count = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed",:]
other_count_unique = len(other_count["SN"].unique())
print(other_count_unique)
other_percent = (other_count_unique/total_players)*100
print(other_percent)

81
14.0625
11
1.9097222222222223

In [220]:
gender_df = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"],
                          "Total Count": [male_count_unique, female_count_unique, other_count_unique],
                            "Percentage of Players": [male_percent, female_percent, other_percent]
                        })
gender_df_indexed = gender_df.set_index("Gender")
gender_df_indexed["Percentage of Players"] = gender_df_indexed["Percentage of Players"].map("{:.2f}%".format)

gender_df_indexed

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame